body {
  border: 4px solid black;
  background: lightgrey;
}

.container {
  background-image: url('../img/rex.jpg');
  width: auto;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.row {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  z-index: 11;
}

.btn {
  background: #64348a;
  opacity: 0.6;
  height: 7vw;
  width: 7vw;
  margin: 1vw;
  border: 2px solid grey;
  min-width: 25px;
  min-height: 25px;
  max-width: 70px;
  max-height: 70px;
}

div > p {
  text-align: center;
  line-height: 2vh;
  font-size: 2.5vw;
}
