body {
	background-image: url(https://imgfilestorage.com/1/10/44/94384.jpg);

}
div {
	width: 100%;
	padding-top: 30vh;
}	

p {
	font-size: 20px;
	text-align: center;
	color: lightyellow;
	font-family: cursive;
}